<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home/style.css" />
  <title>Home</title>
</head>
<body>
  <div><b>여기는 ROOT PAGE 입니다.</b></div>
  <a href="/login">→ login 페이지로 이동</a>
</body>
</html>